// Blog Styling
.blog-background {
    @include background-image(url(../harper-assets/blog-image-1.jpg))
}

.blog {
    padding: 10% 0;
    background-color: $white;

    .flex-blog {
        display: flex;
        justify-content: space-between;

        .blog-sidebar {
            display: flex;
            flex-direction: column;
            background-color: $white;
            padding: 0;
            
        }
    }

    .about-harper,
    .recent-posts {
        background-color: white;
        padding: 30px;
    }

    .about-harper {
        margin-bottom: 20px;

        a {
            font-family: $body-font;
            color: $dark-blue;
        }
    }

    span {
        margin-right: 10px;
    }

    .blog-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        width: 65%;


        .blog-post-container {
            background-color: white;
            padding: 30px;
        }

        .blog-form {
            width: 100%;
        }
    }

}

